<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/main}"
>
<head>
    <!--    <link th:href="@{/css/cardTables.css}" rel="stylesheet" type="text/css">-->
    <!-- Generate CSRF Token For AJAX -->
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>


<section layout:fragment="content">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">List Rent</h1>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="tableAdmPenRent" width="100%" cellspacing="0">
                    <thead>
                    <tr>

                        <th>No</th>
                        <th>Name Employee</th>
                        <th>Name Asset</th>
                        <th>Note</th>
                        <th>Start at</th>
                        <th>End at</th>
                        <th>Action</th>
                    </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
</section>
<div layout:fragment="script">
    <script th:src="@{/js/csrfToken.js}"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script th:src="@{/js/admin/admRent.js}"></script>
</div>
</html>