<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/main}"
>
<head>
    <!--    <link th:href="@{/css/cardTables.css}" rel="stylesheet" type="text/css">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $( document ).ready(function() {
            var dt = new Date();
            var newDate = new Date(dt.setDate(dt.getDate()));
            console.log();
            document.getElementById("reportRentDate").value = newDate.getFullYear()+"-"+(("0"+(newDate.getMonth()+1)).slice(-2))+"-"+(("0"+newDate.getDate()).slice(-2));
            document.getElementById("reportRentDate").min = newDate.getFullYear()+"-"+(("0"+(newDate.getMonth()+1)).slice(-2))+"-"+(("0"+newDate.getDate()).slice(-2));
        });
    </script>
    <!-- Generate CSRF Token For AJAX -->
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>


<section layout:fragment="content">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">List Rent</h1>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="tableAdmRevRent" width="100%" cellspacing="0">
                    <thead>
                    <tr>

                        <th>No</th>
                        <th>Name Employee</th>
                        <th>Name Asset</th>
                        <th>Note</th>
                        <th>Start at</th>
                        <th>End at</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</section>
<div layout:fragment="modal">
    <div class="modal fade" id="reportRent" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Report Rent</h5>
                    <button type="button" class="btn-close" onclick="$('#reportRent').modal('hide');" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="reportRentDate" class="form-label">Date Accident</label>
                        <input type="date" id="reportRentDate" class="form-control" value="" min="1997-01-01"
                               max="2030-12-31">
                        <input class="form-control" type="hidden" id="reportRentId">
                    </div>
                    <div class="mb-3">
                            <label for="reportRentDamage">Fill description damage this asset</label>
                            <textarea class="form-control" id="reportRentDamage" placeholder=""></textarea>
                    </div>
                    <div class="mb-3">
                            <label for="reportRentIncident">Fill description Incident this asset</label>
                            <textarea class="form-control" id="reportRentIncident" placeholder=""></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Penalty</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Rp.</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
                                   id="reportRentPenalty">
                            <div class="input-group-append">
                                <span class="input-group-text">.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" onclick="$('#reportRent').modal('hide');">Close</button>
                        <button type="button" class="btn btn-primary" onclick="createReport()">Submit</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
<div layout:fragment="script">
    <script th:src="@{/js/csrfToken.js}"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script th:src="@{/js/admin/admRent.js}"></script>
</div>
</html>