<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/main}"
>
<head>
    <!--    <link th:href="@{/css/cardTables.css}" rel="stylesheet" type="text/css">-->

</head>


<section layout:fragment="content">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">List Submission</h1>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="tableAdmRevSubmission" width="100%" cellspacing="0">
                    <thead>
                    <tr>

                        <th>N0</th>
                        <th>Nama Employee</th>
                        <th>Nama Asset</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Created at</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
</section>
<div layout:fragment="script">
    <script th:src="@{/js/admin/admSubmission.js}"></script>
</div>
</html>