<section th:fragment="navbar" xmlns="http://www.w3.org/1999/html">
    <!-- Content Wrapper -->
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion h-100" id="accordionSidebar">
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-cubes"></i>
            </div>
            <div class="sidebar-brand-text">Asset Management System<sup> AMS</sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0" />

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" th:href="@{/dashboard}">
                <i class="fas fa-fw fa-user-alt"></i>
                <span id="name" th:text="${user}"></span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider my-0" />
        <!-- Nav Item - Dashboard -->
        <li class="nav-item" th:classappend="${isActive} == 'dashboard' ? 'active':''">
            <a class="nav-link" th:href="@{/dashboard}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider" />

        <!-- Heading -->
        <div class="sidebar-heading">Pages</div>

        <!-- Nav Item - Penalty -->
        <li class="nav-item"  th:classappend="${isActive} == 'penalty' ? 'active':''">
            <a class="nav-link"
               th:href="@{/v1/penalty}">
                <i class="fas fa-fw fa-dollar-sign"></i>
                <span>Penalty</span></a>
        </li>

        <!-- Nav Item - Available -->
        <li class="nav-item"  th:classappend="${isActive} == 'available' ? 'active':''">
            <a class="nav-link" th:href="@{/v1/available}">
                <i class="fas fa-fw fa-cubes"></i>
                <span>Available Asset</span></a>

            <!-- Nav Item - Submission -->
        </li>

        <li class="nav-item"  th:classappend="${isActive} == 'submission' ? 'active':''">
            <a class="nav-link" th:href="@{/v1/submission}">
                <i class="fas fa-fw fa-tasks"></i>
                <span>Submission Asset</span></a>

            <!-- Nav Item - Rent -->
        </li>

        <li class="nav-item"  th:classappend="${isActive} == 'rent' ? 'active':''">
            <a class="nav-link" th:href="@{/v1/rent}">
                <i class="fas fa-fw fa-hourglass-half"></i>
                <span>Rent Asset</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block my-0" />
        <li class="nav-item">
            <form th:action="@{/logout}" th:method="POST">
<!--            <a class="nav-link" href=".html">-->
                <button class="nav-link bg-transparent border-0"> <i class="fas fa-fw fa-sign-out-alt"></i>
                <span>Log Out</span></button>
            </form>
        </li>
        <hr class="sidebar-divider d-none d-md-block" />

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
</section>