<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main}">

<head>
    <title>MCC72</title>
    <link href="css/cardTables.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <section layout:fragment="content">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Submission Asset</h1>
            <!-- <a th:href="@{/submissionform-admin}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Create Submission Asset</a> -->
        </div>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Incoming Submission from Admin</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="example" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Admin Name :</th>
                                <th>Asset :</th>
                                <th>Quantity :</th>
                                <th>Description :</th>
                                <th>Price :</th>
                                <th>Action :</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td class="text-center"><img src="img/Support.ico" class="justify-content-center" /></td>
                                <td>Tom</td>
                                <td>Kamera</td>
                                <td>2</td>
                                <td>For Documentation</td>
                                <td>$20</td>
                                <td>
                                    <a th:href="@{/submissionform}"><button class="btn btn-success text-center">Approve</button></a>
                                    <a th:href="@{/submissionform}"><button class="btn btn-danger text-center">Deny</button></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</body>

</html>