<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
        layout:decorate="~{layout/main}"
>
<head>
    <title>Rent From Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $( document ).ready(function() {
            var dt = new Date();
            var newDate = new Date(dt.setDate(dt.getDate() + 3));
            // console.log(new Date(newDate));
            console.log();
            document.getElementById("start").value = newDate.getFullYear()+"-"+(("0"+(newDate.getMonth()+1)).slice(-2))+"-"+(("0"+newDate.getDate()).slice(-2));
            document.getElementById("end").value = newDate.getFullYear()+"-"+(("0"+(newDate.getMonth()+1)).slice(-2))+"-"+(("0"+newDate.getDate()).slice(-2));
            document.getElementById("start").min = newDate.getFullYear()+"-"+(("0"+(newDate.getMonth()+1)).slice(-2))+"-"+(("0"+newDate.getDate()).slice(-2));
            document.getElementById("end").min = newDate.getFullYear()+"-"+(("0"+(newDate.getMonth()+1)).slice(-2))+"-"+(("0"+newDate.getDate()).slice(-2));
            console.log("ready!");
        });




    </script>
</head>

<body>
<section layout:fragment="content">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-center mb-4">
        <h1 class="h3 mb-0 text-gray-800 mx-auto">Form Request Rent Asset</h1>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4 w-75 mx-auto">
        <form th:action="@{/v1/rentAsset}" th:method="POST" th:object="${rentDTO}">
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col align-self-center">
                            <div class="d-flex justify-content-center">
                                <img id="pic" th:src="@{${image}}"
                                     class="img-thumbnail w-75 h-50 rounded mx-auto my-auto align-middle d-block"/>
                            </div>
                            <label class="form-label d-flex justify-content-center">
                                <h3 class="font-weight-bold mt-2 mb-0 text-uppercase" th:text="${asset.name}"
                                    style="letter-spacing: 3px;">Nama Barang</h3>
                            </label>
                        </div>
                        <div class="col">
                            <label class="mt-2 mb-0"><h5 class="fw-semibold mb-0">About Asset</h5></label>
                            <hr class="my-2">
                            <div class="mb-3" id="description" th:text="${asset.description}">
                                Value Description
                            </div>
                            <hr class="mt-2 mb-2">
                            <div class="mb-3">
                                <!--                                <label class="form-label">Note</label>-->
                                <div class="form-floating mb-3">
                                    <textarea class="form-control" id="floatingTextarea" placeholder=""
                                              th:field="*{note}"></textarea>
                                    <input type="hidden" th:value="${asset.id}" id="assetId" name="assetId">
                                    <label for="assetId">Fill note to rent this asset</label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label fw-semibold">From Date (D+3 from now)</label>
                                <input type="date" class="form-control" placeholder="dd-mm-yyyy" value=""
                                       min="1997-01-01" max="2030-12-31" th:field="*{start}">
                            </div>
                            <div class="mb-3">
                                <label class="form-label fw-semibold">Due Date</label>
                                <input type="date" id="end" class="form-control" value="" min="1997-01-01"
                                       max="2030-12-31" th:field="*{end}">
                            </div>
                            <div class="d-flex justify-content-between">
                                <a href="#" id="btn" class="btn btn-primary"
                                   onclick="pindah('http://localhost:8089/v1/available/')">Back</a>
                                <button type="submit" class="btn btn-success ">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

</body>
</html>