.table-bordered.card {
    border: 0 !important;
}
.card thead {
    display: none;
}

.card tbody tr {
    float: left;
    width: 23em;
    /*height: 43em;*/
    /*min-height: 40em;*/
    /*max-height: 30em;*/
    margin: 0.7em;
    padding: 0;
    border: 1px solid #bfbfbf;
    border-radius: 0.5em;
    background-color: transparent !important;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}
.card tbody tr td {
    display: block;
    border: 0;
    padding: 0em;
}
