<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout/main}">

<head>
    <title>MCC72</title>
</head>

<body>
<section layout:fragment="content">
    <!-- EMPLOYEE -->
    <div sec:authorize="hasRole('EMPLOYEE')">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Welcome to Dashboard</h1>
        </div>

        <!-- Content Row -->
        <div class="row">
            <!-- Penalty Card -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Penalty</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" id="penalty">Rp. 0</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-body bg-primary mt-3 p-0 rounded-right">
                        <a th:href="@{/v1/penalty}">
                            <button class="btn btn-primary btn-block">Show More</button>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Available Asset -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Available Asset
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" id="available">0</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-cubes fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-body bg-success mt-3 p-0 rounded-right">
                        <a th:href="@{/v1/available}">
                            <button class="btn btn-success btn-block">Show More</button>
                        </a>
                    </div>
                </div>
            </div>

            <!-- List Submission Asset -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">List Submission
                                    Asset
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800" id="submission">0</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-body bg-info mt-3 p-0 rounded-right">
                        <a th:href="@{/v1/submission}">
                            <button class="btn btn-info btn-block">Show More</button>
                        </a>
                    </div>
                </div>
            </div>

            <!-- List Rent Asset -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">List Rent Asset
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" id="rent">0</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-hourglass-half fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-body bg-warning mt-3 p-0 rounded-right">
                        <a th:href="@{/v1/rent}">
                            <button class="btn btn-warning btn-block">Show More</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--ADMIN-->
    <div sec:authorize="hasRole('ADMIN')">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Welcome to Admin Dashboard </h1>
        </div>

        <!-- Content Row -->
        <div class="row">
            <!-- Submission Card -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Request
                                    Submission Asset
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" id="ReqSubAsset">0</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-body bg-primary mt-3 p-0 rounded-right">
                        <a th:href="@{/admin/submission}">
                            <button class="btn btn-primary btn-block">Show More</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-secondary shadow h-100">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">Pending
                                    Submission Asset
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" id="PenSubAsset">0</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-body bg-secondary mt-3 p-0 rounded-right">
                        <a th:href="@{/admin/submission}">
                            <button class="btn btn-secondary btn-block">Show More</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-secondary shadow h-100">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                                   Recent Review Submission Asset
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" id="SubAsset">0</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-body bg-secondary mt-3 p-0 rounded-right">
                        <a th:href="@{/admin/submission}">
                            <button class="btn btn-secondary btn-block">Show More</button>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Rent Asset -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pending Rent
                                    Asset
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" id="ReqRentAsset">0</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-hourglass-half fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-body bg-warning mt-3 p-0 rounded-right">
                        <a th:href="@{/admin/rent}">
                            <button class="btn btn-warning btn-block">Show More</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Review Rent Asset
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" id="RentAsset">0</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-hourglass-half fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-body bg-info mt-3 p-0 rounded-right">
                        <a th:href="@{/admin/rent}">
                            <button class="btn btn-info btn-block">Show More</button>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Report Asset -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-danger shadow h-100">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Report Asset
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800" id="RepAsset">0</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-chain-broken fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-body bg-danger mt-3 p-0 rounded-right">
                        <a th:href="@{/admin/report}">
                            <button class="btn btn-danger btn-block">Show More</button>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Done Asset -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Done Rent Asset
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800" id="DoneAsset">0</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-check fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-body bg-success mt-3 p-0 rounded-right">
                        <a th:href="@{/admin/report}">
                            <button class="btn btn-success btn-block">Show More</button>
                        </a>
                    </div>
                </div>
            </div>

            <!-- List User Asset -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-dark shadow h-100">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">User
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" id="user">0</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-user fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-body bg-dark mt-3 p-0 rounded-right">
                        <a th:href="@{/admin/user}">
                            <button class="btn btn-dark btn-block">Show More</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--FINANCE-->
    <div sec:authorize="hasRole('FINANCE')">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Welcome to Finance Dashboard</h1>
        </div>

        <!-- Content Row -->
        <div class="row">
            <!-- List Submission Asset -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">List Pending Sub
                                    Asset
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" id="total-price">0</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-body bg-primary mt-3 p-0 rounded-right">
                        <a th:href="@{finance/review-submission-finance}">
                            <button class="btn btn-primary btn-block">Show More</button>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Saldo -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Balance</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">$300</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-cubes fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-body bg-success mt-3 p-0 rounded-right">
                        <a th:href="@{finance/balance}">
                            <button class="btn btn-success btn-block">Show More</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<div layout:fragment="script">
    <script th:src="@{js/dashboard.js}"></script>
</div>
</body>

</html>