<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main}">

<head>
    <title>MCC72</title>
</head>

<body>
    <section layout:fragment="content">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <a th:href="@{/reportform-admin}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
        </div>

        <!-- Content Row -->
        <div class="row">
            <!-- Penalty Card -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Penalty</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" id="penalty">Rp. 0</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-body bg-primary mt-3 p-0 rounded-right">
                        <a th:href="@{/v1/penalty}"><button class="btn btn-primary btn-block">Show More</button></a>
                    </div>
                </div>
            </div>

            <!-- Available Asset -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Available Asset</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" id="available">0</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-cubes fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-body bg-success mt-3 p-0 rounded-right">
                        <a th:href="@{/v1/available}"><button class="btn btn-success btn-block">Show More</button></a>
                    </div>
                </div>
            </div>

            <!-- List Submission Asset -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">List Submission Asset</div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800" id="submission">0</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-body bg-info mt-3 p-0 rounded-right">
                        <a th:href="@{/v1/submission}"><button class="btn btn-info btn-block">Show More</button></a>
                    </div>
                </div>
            </div>

            <!-- List Rent Asset -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">List Rent Asset</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" id="rent">0</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-hourglass-half fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-body bg-warning mt-3 p-0 rounded-right">
                        <a th:href="@{/v1/rent}"><button class="btn btn-warning btn-block">Show More</button></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div layout:fragment="script">
        <script th:src="@{js/dashboard.js}"></script>
    </div>
</body>

</html>